/* Home CSS
   ==============================*/

.casse .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    background-color: blue;
}

.casse .container__top {
    flex: 20%;
    background-color: green;
    text-align: center;
}

.casse .game {
    display: flex;
    flex: 80%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.casse .barre {
    background-color: red;
    width: 70px;
    border-radius: 10px;
    height: 20px;
    position: relative;
}

.casse .bawl {
    background-color: black;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    left: -5px;
    position: relative;
}