.container__projects {
    font-family: 'Titillium Web', sans-serif;
    background-color: black;
    overflow-x: hidden;
    height: 100%;
    color: white;
}


.List_projects {
    width: 50%;
    margin: 5vh auto 10vh;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1em;
    line-height: 1.5em;
    padding: 15px;
}

a {
    text-decoration: none;
    text-align: center;
    color: #a20021;
    font-family: lol;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
}

a :hover {
    color: #a20021;
}

.logo {
    color: #a20021;
    font-family: pumpkin;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}