/* for waiting site building */
@font-face {
    font-family: "pumpkin";
    src: url("../../assets/font/BabyPumpkin.ttf");
}

.logo {
    color: #a20021;
    font-family: pumpkin;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    width: 60px;
    height: 30px;
}

.presentation {
    color: #a20021;
}

.container__home {
    font-family: 'Titillium Web', sans-serif;
    background-color: black;
    overflow-x: hidden;
    height: 100%;
    user-select: none;
}

h1 {
    width: 50%;
    margin: 30vh auto 10vh;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1em;
    line-height: 1.5em;
    padding: 15px;
    border: solid 1px #f44a3a;
}

p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.2em;
}

.separator {
    margin: 10vh auto;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}


