/* for waiting site building */
@font-face {
    font-family: "pumpkin";
    src: url("../../assets/font/BabyPumpkin.ttf");
}
@font-face {
    font-family: "lol";
    src: url("../../assets/font/FrizQuadrataRegular.ttf");
}

.container__home {
    font-family: 'Titillium Web', sans-serif;
    background-color: #111111;
    overflow-x: hidden;
    height: 100%;
    user-select: none;
    position: relative;
}


.logo__container {
    color: #a20021;
    font-family: pumpkin;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    width: 80px;
    height: 40px;
}

.logo {
    font-family: pumpkin;
    display: block;
    height: 100%;
    width: 100%;
}


.container__pres {
    position:absolute;
    height: 80%;
    width: 100%;
    bottom: 0;
    display: flex;
}

.presentation {
    display: flex;
    flex-direction: column;
    color: #a20021;
    height: 100%;
    width: 60%;
    font-size: 80px;
}

.first__line {
    margin-top: 60px;
    padding-left: 140px;
}
.lines {
    margin-top: 20px;
    padding-left: 140px;
}

.right__box {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 50px;
}

.img__container {
    position: relative;
    display: block;
    height: 40%;
    border-radius:  25% 10%;
    border: solid #d6b46e;
    margin-right: 50px;
    cursor: pointer;
}


.img__container:hover {
    border: solid #a20021;
    font-weight: bold;
}


.about {
    background:#d6b46e no-repeat center/100% url("../../assets/about_image.jpg");
    border-radius:  25% 10%;
    height: 100%;
    width: 100%;
    filter: blur(3px);
}

.img__container .text {
    color: #a20021;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.img__container__project {
    margin-top: 20px;
    position: relative;
    display: block;
    height: 40%;
    border-radius:  10% 25%;
    border: solid #d6b46e;
    margin-right: 50px;
    cursor: pointer;
}

.img__container__project:hover {
    border: solid #a20021;
    font-weight: bold;
}



.project {
    height: 100%;
    width: 100%;
    background: #d6b46e no-repeat center/100% url("../../assets/project_image.jpg");
    border-radius: 10% 25%;
    filter: blur(3px);
}



.img__container__project .text {
    color: #a20021;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}






h1 {
    width: 50%;
    margin: 30vh auto 10vh;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1em;
    line-height: 1.5em;
    padding: 15px;
    border: solid 1px #f44a3a;
}

p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.2em;
}

.separator {
    margin: 10vh auto;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}


